/*------------------------------------*\
   Body
\*------------------------------------*/

body {
    @include f-reg();
    background-color: #f8f8ff;
    color: var(--c-font-dark);
    // scroll-behavior: smooth;

    &.stop-scrolling {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

#viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
