/*------------------------------------*\
   Menu button
\*------------------------------------*/

.menu-button {
    position: absolute;
    display: block;
    width: 4.2rem;
    height: 3.6rem;
    top: 1.2rem;
    right: 1.5rem;
    pointer-events: auto;
    @include z-index(level6);

    &.is-working {
        pointer-events: none;
    }

    @include bp(small) {
        top: 3rem;
        right: 3rem;
    }

    @include bp(medium) {
        display: none;
    }
}

.x,
.z {
    position: absolute;
    margin: auto;
    left: 1rem;
    background-color: var(--c-bg-dark);
    border-radius: 0;
    height: 0.2rem;
    width: 2.5rem;
    transition: var(--transition);

    .menu-is-active & {
        background-color: var(--c-bg-light);
    }
}

.x {
    top: 1.2rem;

    .menu-is-active & {
        top: 1.8rem;
        transform: rotate(45deg);
        background-color: var(--c-bg-light);
    }
}

.z {
    top: 2.4rem;

    .menu-is-active & {
        top: 1.8rem;
        transform: rotate(-45deg);
    }
}
