/*------------------------------------*\
    Font sizes
\*------------------------------------*/

//extra
@mixin f-xl() {
    font-size: 8vw;
    line-height: 1.5;
    letter-spacing: -0.3vw;
    font-weight: 500;

    @include bp(small) {
        font-size: 7vw;
        line-height: 1.5;
    }
    @include bp(medium) {
        font-size: 6vw;
        line-height: 1.5;
    }
    @include bp(large) {
        font-size: 4vw;
        line-height: 1.5;
    }
}

//large h2
@mixin f-lg() {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -0.02rem;
    font-weight: 300;
    text-transform: uppercase;

    // @include bp(small) {
    //     font-size: 5.2rem;
    //     line-height: 6rem;
    //     letter-spacing: -2.86;
    // }
    // @include bp(medium) {
    //     font-size: 6.2rem;
    //     line-height: 7rem;
    //     letter-spacing: -3.41;
    // }
}

//medium h3
@mixin f-md() {
    font-size: 2.6rem;
    line-height: 8rem;
    letter-spacing: -0.08rem;
    font-weight: 500;

    @include bp(small) {
        font-size: 4.2rem;
        line-height: 10rem;
        letter-spacing: -0.15rem;
    }
    @include bp(medium) {
        font-size: 5.2rem;
        line-height: 11rem;
        letter-spacing: -0.2rem;
    }
    @include bp(large) {
        font-size: 7.2rem;
        line-height: 13rem;
        letter-spacing: -0.4rem;
    }
}

//small
// @mixin f-sm() {
//     font-size: 1.2rem;
//     line-height: 1.7rem;

//     @include bp(medium) {
//         font-size: 1.4rem;
//         line-height: 1.9rem;
//     }
// }

//extra small
// @mixin f-xs() {
//     font-size: 1.2rem;
//     line-height: 2rem;
// }

//body copy
@mixin f-reg() {
    font-size: 4.6vw;
    line-height: 1.8;
    letter-spacing: -0.1vw;
    font-weight: 500;

    @include bp(small) {
        font-size: 3vw;
        line-height: 1.6;
    }
    @include bp(medium) {
        font-size: 2.8vw;
    }
    @include bp(large) {
        font-size: 1.8vw;
        line-height: 1.6;
    }
}

//override
@mixin font-size($s: 1.8rem, $lh: 2.4rem, $ls: 0, $fw: normal) {
    font-size: $s;
    line-height: $lh;
    letter-spacing: $ls;
    font-weight: $fw;
}
