/*------------------------------------*\
    Font sizes
\*------------------------------------*/

//extra large
@mixin f-xl() {
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0;
    font-weight: 700;

    @include bp(small) {
        font-size: 5rem;
        line-height: 4.2rem;
    }

    @include bp(medium) {
        font-size: 7rem;
        line-height: 6rem;
    }
}

//large
@mixin f-lg() {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0;
    font-weight: 700;

    @include bp(large) {
        font-size: 5rem;
        line-height: 5rem;
    }
}

//medium
@mixin f-md() {
    font-size: 4vw;
    line-height: 1.6;
    letter-spacing: -0.2vw;
    font-weight: 500;

    @include bp(small) {
    }
    @include bp(medium) {
    }
    @include bp(large) {
        font-size: 2.6vw;
        letter-spacing: -0.1vw;
    }
}

//small
@mixin f-sm() {
    font-size: 1.2rem;
    line-height: 1.7rem;

    @include bp(medium) {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
}

//extra small
@mixin f-xs() {
    font-size: 1.2rem;
    line-height: 2rem;
}

//body copy
@mixin f-reg() {
    font-size: 4vw;
    line-height: 1.6;
    font-weight: normal;

    @include bp(small) {
        font-size: 2.4vw;
        line-height: 1.8;
    }
    @include bp(medium) {
        font-size: 1.8vw;
        line-height: 2;
    }
    @include bp(large) {
        font-size: 1.2vw;
        line-height: 1.8;
    }
}

//override
@mixin font-size($s: 1.8rem, $lh: 2.4rem, $ls: 0, $fw: normal) {
    font-size: $s;
    line-height: $lh;
    letter-spacing: $ls;
    font-weight: $fw;
}
