/*------------------------------------*\
    About Section
\*------------------------------------*/

/* =Reveal Gallery */
.reveal-gallery {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: var(--v-spacing) 0 5vh;

    .chapter {
        top: 5vh;
    }
}
.rg__column {
    flex-grow: 1; /* equivalent to 33.33% */
    padding: 0 var(--h-gutter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 20vh;
    margin-bottom: 2vh;
    width: 100%;
}
.rg__text--heading span {
    font-size: 2.6vw;
    margin: 0;
    opacity: 0.5;

    @include bp(medium) {
        font-size: 1.8vw;
    }
}
.rg__text {
    z-index: 1;
    position: relative;
}

.rg__column::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 1px;
    height: 20vh;
    transform: translateY(-50%);
    background-color: var(--c-bg-dark-1);
    opacity: 0.4;
}

.rg__text--mask {
    overflow: hidden;
}

.e__title {
    font-weight: 500;
    font-size: 3.8vw;

    @include bp(small) {
        font-size: 3vw;
    }
    @include bp(medium) {
        font-size: 2vw;
    }
    @include bp(large) {
        font-size: 1.4vw;
    }
}

.e__subtitle,
.email-link,
.cv-btn,
.p__copy {
    font-size: 3.5vw;

    @include bp(small) {
        font-size: 2.4vw;
    }
    @include bp(medium) {
        font-size: 1.4vw;
    }
    @include bp(large) {
        font-size: 1vw;
    }
}

.email-link {
    transition: var(--transition);
    margin-bottom: 0.8rem;
    &:hover {
        color: #727272;
    }
}

.cv-btn {
    position: relative;
    padding-left: 1.8vw;
    transform: translateX(-1.8vw);
    display: block;
    transition: var(--transition);

    &:hover {
        color: #727272;
        transform: translateX(0);
    }

    &::before {
        @include pseudo();
        height: 2px;
        width: 1.3vw;
        background-color: var(--c-bg-dark-1);
        top: 50%;
        left: 0;
    }
}

@media only screen and (min-width: 900px) {
    /* =Reveal Gallery */
    .reveal-gallery {
        flex-direction: row;
        height: 100vh;
    }
    .rg__column {
        min-height: auto;
    }
    .rg__text--copy {
        position: absolute;
        overflow: hidden;
    }
    .rg__text {
        width: auto;
    }
}

// cta circle
.cta__circle {
    width: 22vw;
    height: auto;
    position: absolute;
    top: auto;
    bottom: 8vh;
    right: 6vw;
    pointer-events: none;
    animation: rotation 45s linear infinite;

    @include bp(small) {
        width: 15vw;
        bottom: 4vh;
    }
    @include bp(medium) {
        width: 10vw;
        right: 3vw;
    }
    @include bp(large) {
        width: 8vw;
        bottom: 4vh;
        right: 3vw;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
