/*------------------------------------*\
    Design Section
\*------------------------------------*/

.d__intro {
    margin: var(--v-spacing) var(--h-gutter) 0;

    @include bp(medium) {
        width: calc(50vw + var(--h-gutter));
        margin: var(--v-spacing) 33.33vw 0 var(--h-gutter);
    }
}

.design {
    position: relative;
    width: calc(100vw - var(--h-gutter));
    margin: 15vh auto 0;

    .chapter {
        top: -8vh;
        left: 4vw;
    }

    @include bp(small) {
        .chapter {
            top: -7vh;
            left: 3.4vw;
        }
    }
    @include bp(medium) {
        .chapter {
            top: -8vh;
            left: 3.4vw;
        }
    }
}

.design__video {
}
