/*------------------------------------*\
    Front-end
\*------------------------------------*/
main {
    z-index: 1;
    position: relative;
}

.front-end {
    position: relative;
    width: 100vw;
}

.fe__par {
    display: flex;
    flex-direction: column;
    background: #1d1e25;
    color: var(--c-font-light);
    margin-bottom: var(--v-spacing);

    @include bp(medium) {
        flex-direction: row;
        justify-content: space-between;
        p {
            max-width: 37vw;
        }
    }
}

.fe__categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;

    a {
        @include f-xl();
        padding: 1vh 10vw;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;

        @include bp(medium) {
            padding: 1vh 7vw;
        }

        &::before {
            content: "\21B3";
            font-size: 4rem;
            padding-right: 1vw;
            height: auto;
            position: relative;
            opacity: 0;
            left: 0;
            display: none;

            @include bp(medium) {
                display: block;
            }
        }

        &:hover {
            z-index: 1;
            transform: translateX(3vw);
            transition: transform 0.3s ease-in-out;

            &::before {
                opacity: 1;
            }
        }
    }
}

.fe__divider {
    width: 100vw;
    height: 0.1rem;
    background: #1c1c1c;
    display: block;
}

.fe__image {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 62vh;
    left: 40vw;
    width: 28vw;
    padding-bottom: 41.66vw;
    background-color: #1c1c1c;
    visibility: hidden;
    display: none;

    @include bp(medium) {
        display: block;
    }
}
.image_inside {
    position: absolute;
    opacity: 0.6;
    top: -10%;
    left: 0;
    width: 100%;
    height: 115%;
    background-size: cover;
}

.fill-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
