/*------------------------------------*\
    Front-end
\*------------------------------------*/

.front-end {
    .chapter {
        top: calc(var(--v-spacing) * 2);
    }
}

.fixed-nav {
    position: absolute;
    top: calc(var(--v-spacing) * 3);
    left: var(--h-gutter);

    li {
        overflow: hidden;

        &.is-active a {
            transform: translateX(0);
            opacity: 1;
        }
    }
    a {
        position: relative;
        padding-left: 1.8vw;
        transform: translateX(-1.8vw);
        display: block;
        opacity: 0.4;
        transition: var(--transition);

        &::before {
            @include pseudo();
            height: 2px;
            width: 1.3vw;
            background-color: var(--c-bg-dark-1);
            top: 50%;
            left: 0;
        }
    }
}

.stage__heading {
    position: relative;
    z-index: 2; /* fix for Safari */

    h3,
    p {
        position: absolute;
        left: 25vw;
        top: calc(var(--v-spacing) * -1.75);
        font-size: 3.6vw;
        margin: 0;
        white-space: nowrap;
    }
    p {
        font-size: 1.6vw;
        opacity: 0.4;
        top: calc(var(--v-spacing) * -2.25);
    }
}

.stage__image {
    width: calc(50vw + var(--h-gutter));
    margin: 0 var(--h-gutter) var(--v-spacing) 33.33vw;
    padding-bottom: 33.33vw;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    z-index: 1; /* fix for Safari */
}
.stage__image img {
    height: 120%;
    top: -20%;
}
