/*------------------------------------*\
    Header
\*------------------------------------*/

.header {
    width: 100%;
    height: 6rem;
    background: var(--c-bg-light);
    border-bottom: 1px solid var(--c-bg-dark);
    position: fixed;
    left: 0;
    top: 0;
    transition: ease 0.4s;
    @include z-index(level9);

    @include bp(small) {
        height: 10rem;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.header__site-link {
    position: relative;
    display: block;
    margin-left: 3rem;
    pointer-events: auto;
    font-size: 2.4rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    @include z-index(level6);

    &.menu-is-active {
        transition: var(--transition);
        color: var(--c-font-light);
    }

    @include bp(small) {
        font-size: 3rem;
    }
}

.header__site-nav {
    position: relative;
    height: 100%;
    display: none;

    @include bp(medium) {
        display: block;
    }
}
.header__nav-list {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    letter-spacing: -0.04rem;
}
.header__nav-list-item {
    position: relative;
    height: 100%;
    padding: 0 3rem;
    @include flex-center;
    overflow: hidden;
}
.header__nav-link {
    display: block;
    font-weight: 300;
    @include z-index(level6);
    &::before {
        @include pseudo;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 105%;
        background-color: var(--c-bg-dark);
        transform: scaleY(0);
        transform-origin: top;
        transition: var(--transition-slow);
        z-index: -1;
    }

    &:hover,
    &:focus {
        color: var(--c-font-light);
        transition: var(--transition-slow);
        &::before {
            transform: scaleY(1);
        }
    }
}
