/*------------------------------------*\
    Vanity loader
\*------------------------------------*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
    overflow: hidden;
    @include z-index(level10);
}

.loader__title {
    font-size: 7vw;
    line-height: 5vw;
    margin: 0;
    color: #f8f8ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 24rem;
}
.loader__title--mask {
    overflow: hidden;
}
.loader__title--mask span {
    display: block;
    opacity: 0;
    transform: translateY(100%);
}
