/*------------------------------------*\
    Profile
\*------------------------------------*/

.profile {
    position: relative;
    width: 100%;
    height: 100vh;
    @include flex-center();
}

.profile__inner {
    width: 100%;
    padding: var(--col-pd-inner);

    @include bp(small) {
        max-width: 160rem;
        padding: 0 8rem;
        width: calc(100% - 4rem);
        margin: 0 auto;
    }
    @include bp(large) {
    }
}

.profile__title {
    display: flex;
    padding-top: 6rem;

    h1:first-child {
        margin-right: 4rem;
    }

    @include bp(small) {
        h1:first-child {
            margin-right: 6rem;
        }
    }
    @include bp(medium) {
    }
}

.cta__circle {
    display: block;
    position: absolute;
    top: auto;
    right: 2rem;
    bottom: -8rem;
    pointer-events: none;
    animation: rotation 45s linear infinite;

    @include bp(small) {
        right: 6rem;
    }
    @include bp(medium) {
        right: 7rem;
    }
    @include bp(large) {
        right: 8rem;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
