/*------------------------------------*\
    Sections
\*------------------------------------*/

main {
    z-index: 1;
    position: relative;
}
section {
    position: relative;
}
.with-padding {
    padding: var(--v-spacing) 0;
}
.with-padding-bottom {
    padding-bottom: var(--v-spacing);
}
.chapter {
    position: absolute;
    left: var(--h-gutter);
    top: var(--v-spacing);
    z-index: 2;
    color: var(--c-font-dark);
    font-size: 3.6vw;
    letter-spacing: -0.1vw;

    @include bp(small) {
        font-size: 2.6vw;
    }
    @include bp(medium) {
        font-size: 1.6vw;
    }
}
.chapter span {
    opacity: 0.4;
}
