/*------------------------------------*\
    Semantic color variables
    https://anotheruiguy.gitbooks.io/sassintherealworld_book-i/content/handy-tools/setting-variables.html
\*------------------------------------*/
:root {
    //colors & brand
    --black: #000000;
    --white: #ffffff;
    --light-grey: #f2eee4;

    /*------------------------------------*\
    Semantics
    \*------------------------------------*/

    //utilities
    --c-lightest: var(--white);
    --c-darkest: var(--black);
    --c-placeholder: var(--light-grey);

    //use pallet
    // --c-primary: var();
    // --c-secondary: var();

    //typography
    //on dark backgrounds
    // --c-font-lightest: var();
    --c-font-light: var(--white);
    // --c-font-mid: var();

    //on light backgrounds
    // --c-font-darkest: var();
    --c-font-dark: var(--black);

    // --c-font-dark-1: var();
    // --c-font-dark-2: var();
    // --c-font-dark-3: var();
    // --c-font-dark-4: var();

    //backgrounds
    --c-bg-light-1: var(--white);
    // --c-bg-light-2: var();
    // --c-bg-light-3: var();

    --c-bg-dark-1: var(--black);
    // --c-bg-dark-2: var();
    // --c-bg-dark-3: var();
    // --c-bg-dark-4: var();
    // --c-bg-dark-5: var();
}
